body {
    background-color: #EAF6F6;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

/*
h3 {
    color: #blue;
}
*/

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

/*
h3 {
    color: #66BFBF;
}
*/