body {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    color: #fff;
    padding: 50px;
    background-color: #374954;
    text-align: center;
}

h1 {
    font-size: 100px;
}

button {
    background-color: #6bbe92;
    border: 0;
    border-radius: 10px;
    box-shadow: 5px;
    margin: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
}