<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="composeFields" action="/compose" method="POST">
    <div class="form-group">

        <label for="postTitle">Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label for="postBody">Post</label>
        <textarea class="form-control" name="postBody" rows="8" cols="80"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>